/* UTILITY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* HEADER  */
header {
  background-color: #ff6900;
}
.hdr,
.fixed {
  width: 100%px;
  height: 80px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

header nav,
.container {
  padding: 20px;
}

ul {
  min-width: 170px;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}

.logo {
  width: 134px;
}

.link {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.shortcuts {
  list-style: none;
}
.icons {
  color: white;
}

/* MAIN  */
.main-content {
  max-width: 1170px;
  margin: 0 auto;
}
.cont-img {
  width: 370px;
  height: 530px;
  padding-right: 10px;
  background: lightgrey;
  display: inline-block;
  position: relative;
}
.flex-main {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px;
}
.heart {
  position: absolute;
  font-size: 14px;
  background-color: green;
  right: 0;
}

.img {
  width: 100%;
  position: absolute;
}
.text-pos {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.under-text {
  width: 370px;
  height: 50px;
}

/* .cont-img:hover . {
  display: block;
}

.:hover . {
  display: block;
}

.: . {
  display: block;
} */
